#root {
  margin: 0;
  text-align: center;


}

body {
  margin: 0;
}

.app {
  display: flex;
  /* width: 100%;
  height: 100%; */
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Welcome H1 {
  font-weight: 300;
  display: inline-block;
  color: rgb(48, 29, 16) !important;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  font-size: 4.2rem;
  font-family: ncormorantgaramond-semibold, cormorantgaramond, cormorant, garamond, serif;
  font-size: 3.2em;
  line-height: 1.1;
  align-self: center;
  margin-top: 2rem
}

.Welcome p {
  display: inline-block;
  text-align: center;
  margin-top: 2rem;
  width: 45%;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(48, 29, 16);
 font-family: light1475496,avenir-lt-w05_35-light,sans-serif;
 line-height: 1.875em;
 letter-spacing: 0em;
}

h2 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: 2rem;
  color: rgb(48, 29, 16);
  font-family: ncormorantgaramond-semibold, cormorantgaramond, cormorant, garamond, serif;
}

.Cards {
  display: inline-block;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}

.sliderproducts {
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: row;
  justify-content: space-between;
}