.sub-card {
    display: inline-block;
    background-color: rgb(160, 108, 63);
    /* superior | direita | inferior | esquerda */
    padding: 0rem 1rem 2rem 1rem;
    width: 25%;
    min-width: min-content;
    flex-direction: column;
    border-radius: 1rem;
    color: white;


}

.sub-banner {
    height: 100%;
    background-image: url('../../../assets/Imagens/banner_login.jpg');
    background-size: 100% 100%;
}

.sub-card h2 {
    margin-top: 1rem;
    font-size: 2rem;
    width: 100% !important;
}

.sub {
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 0.4rem;
}

.sub input {
    display: block;
    width: 70%;
}

.sub button:hover{
    background-color: rgba(247, 183, 151, 1) !important;
}

#foto{
    background: transparent;
    border: 0;
}

.submit-form{
    align-self: flex-end;
    background-color: rgb(141, 85, 57) !important;
    border-radius: 1rem;
    border-style: solid;
    padding-inline: 8%;
    border-width: 0.1em !important;
    border-color:  rgb(141, 85, 57) ;
    justify-content: space-evenly;
    color: white;
    cursor: pointer;
}
.submit-form:hover {
    background-color: rgba(187, 117, 82, 0.8) !important;
    border-width: 0.1em;
    border-color:  rgb(141, 85, 57) ;
}


.sub-card form p {
    margin-top: 0rem;
    margin-bottom: 0rem;
    display: block;
    text-align: end;
    /* height: 1rem; */

    color: rgb(246, 255, 0);
    /* width: 100%; */
    overflow: hidden;
}

.sub label {
    width: 25%;
    text-align: end;
    overflow: hidden;
}

.CPF {
    -webkit-nbsp-mode: normal;
    margin: 0;
}


.submit_sub {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#petphoto {
    margin-top: 4%;
    width: 92%;
    height: 40%;
}

#Sexo {
    text-transform: uppercase;
}

#Porte {
    text-transform: uppercase;
}

#UF {
    text-transform: uppercase;
}

#Cidade {
    text-transform: uppercase;
}


#Descricao {
    outline-style: 0.3rem solid;
    outline-color: rgba(0, 0, 255, 0);
    border: 0;
    margin-top: 0%;
    height: 7rem;

    width: 70%;
    color: white;


    background-color: rgb(173, 125, 84)
}


#Desc {
    align-items: flex-start;
}